.App {
  text-align: center;
  width: 96%;
  justify-content: center;
  margin: auto;
}

.dropdown {
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.barchart {
  flex: 1;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(212,212,212);
  padding: 10px;
  margin-right: 10px;
}

.heat-map {
  flex: 1;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(212,212,212);
  padding: 10px;
  margin-left: 10px;
}

.scatterplot {
  align-items: center;
  text-align: center;
  border: 1px solid rgb(212,212,212);
  padding: 10px;
  margin-top: 20px;
}

.chart {
    padding: 10px;
}

.radio-buttons {
  margin: auto;
}

.radio-label {
  margin: 10px;
}

.radio-input {
  margin-right: 3px;
}